    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="box-shadow-full">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-sm-6 col-md-5">
                        <div class="about-info">
                          <p><span class="title-s"></span> <span><%=rows.title%></span></p>
                          <p><span class="title-s"></span> <span><%=rows.name%></span></p>
                        </div>
                        <div >
                          <img class="img-thumbnail rounded" src="img/casualshot.JP2" alt="">
                        </div>
                      </div>
                    </div>
            
                  </div>
                  <div class="col-md-6">
                    <div class="about-me pt-4 pt-md-0">
                      <div class="title-box-2">
                        <h5 class="title-left">
                          About me
                        </h5>
                      </div>
                      <p class="lead">
                        <%=rows.descript%>
                      </p>
                      <% if (loggedIn) {%>
                      <div class="title-box-2">
                        <h6 class="title-left">
                          Times visited:
                        </h6>
                      </div>
                      <p class="lead">
                        <%=rows.visits%>
                      </p>
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box-shadow-full" style="text-align: center">
          <h3 class="title-a">Tech Stack:</h3><br>
          <p>Programming Languages and other technologies I like to work with: Coming Soon </p>
          <!-- <section>
            <div class="box-shadow-full row">
              <div class="card col-sm-6">
                <div class="card-title">
                  <label><strong>C Programming Language</strong></label>
                </div>
                <div class="card-body">
                  <ul class="list">
                    <li><a href="">Project 1</a></li>
                    <li><a href="">project 2</a></li>
                  </ul>
                </div>

              </div>
              <div class="card col-sm-6">
                <div class="card-title">
                  <label><strong>C++ Programming Language</strong></label>
                </div>
                <div class="card-body">
                  <ul class="list">
                    <li><a href="">Project 1</a></li>
                    <li><a href="">project 2</a></li>
                  </ul>
                </div>

              </div>
              <div class="card col-sm-6">
                <div class="card-title">
                  <label><strong>Python</strong></label>
                </div>
                <div class="card-body">
                  <ul class="list">
                    <li><a href="">Project 1</a></li>
                    <li><a href="">project 2</a></li>
                  </ul>
                </div>

              </div>
              <div class="card col-sm-6">
                <div class="card-title">
                  <label><strong>JavaScript</strong></label>
                </div>
                <div class="card-body">
                  <ul class="list">
                    <li><a href="">Project 1</a></li>
                    <li><a href="">project 2</a></li>
                  </ul>
                </div>

              </div>
            
             
            </div>
          </section> -->
         
      </section><!-- End About Section -->