  <!-- ======= Intro Section ======= -->
  <div id="home" class="intro route bg-image" style="background-image: url(img/zoom.jp2)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <p class="intro-subtitle"><span class="text-slider-items"><%=page_name%></span><strong class="text-slider"></strong></p>
      
        </div>
      </div>
    </div>
  </div><!-- End Intro Section -->