<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MEJ</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
     <!-- Favicons -->
     <link href="img/favicon.png" rel="icon">
     <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
   
     <!-- Vendor CSS Files -->
     <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
     <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
     <link href="vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
     <link href="vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
     <link href="vendor/venobox/venobox.css" rel="stylesheet">
   
     <!-- Template Main CSS File -->
     <link href="css/style.css" rel="stylesheet">
     <link href="css/previous_work_section.css" rel="stylesheet">
   
  
</head>

<body id="page-top">

  <!-- ======= Header/ Navbar ======= -->
  <%- include('partials/navbar', {active}) %>
  <!-- ======= Intro Section/Image path passed ======== -->
  <%- include('partials/intro', {path_image: "img/zoom.jp2", page_name: "Home"}) %>

  <main id="main">
    <!-- About Section -->
    <%- include('partials/about') %>

  </main><!-- End #main -->


  <!-- FOOTER -->
  <%- include('partials/footer') %>

</body>

</html>

