<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MEJ</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="vendor/venobox/venobox.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/previous_work_section.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- ======= Header/ Navbar ======= -->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top">Welcome</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#service">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#work">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#research">Research</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#contact">Collaborate</a>
          </li>
          <% if (!loggedIn) { %>
            <li class="nav-item">
              <a class="nav-link js-scroll" href='/login'>Login</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link js-scroll" href='/logout'>Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll" href='/dashboard'>Dashboard</a>
            </li>
          <%}%>

          
        </ul>
      </div>
    </div>
  </nav>



  <!-- ======= Intro Section ======= -->
  <div id="home" class="intro route bg-image" style="background-image: url(img/zoom.jp2)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          
          <p class="intro-subtitle"><span class="text-slider-items">Hello!</span><strong class="text-slider"></strong></p>
          <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p>
        </div>
      </div>
    </div>
  </div><!-- End Intro Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-info">
                        <!-- <p><span class="title-s"></span> <span>Software Developer</span></p> -->
                        <p><span class="title-s"></span> <span><%=rows.name%></span></p>
          
                      </div>
                      <div class="about-img">
                        <img src="img/casualshot.JP2" class="img-fluid rounded b-shadow-a" alt="">
                      </div>
                    </div>
                  </div>
                  <div>
                  <!-- <h4>Resume:</h4>
                    <a href="files/MateoEstradaResume.pdf" download="Mateo"><span class="ion-ios-paper" style="font-size: larger"> Pdf</span> </a> -->
                  <h4>Curriculum Vitae:</h4>
                    <a href="files/mateoestradacvSoftENGR.pdf" download="CVEstrada"><span class="ion-ios-paper" style="font-size: larger"> pdf version</span> </a>
                </div>
                </div>
                <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        About me
                      </h5>
                    </div>
                    <p class="lead">
                      <%=rows.descript%>
                    </p>
                    <% if (loggedIn) {%>
                    <div class="title-box-2">
                      <h6 class="title-left">
                        Times visited:
                      </h6>
                    </div>
                    <p class="lead">
                      <%=rows.visits%>
                    </p>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-shadow-full" style="text-align: center">
        <h3 class="title-a">Skills stack:</h3><br>
        <div class="row">
        <div class="col">
          <h5>Back-End:</h5>
            <p>C++</p>
            <p>C</p>
            <p>Python</p>
            <p>JavaScript</p>
        </div>
        <div class="col">
          <h5>Front-End:</h5>

            <p>HTML5</p>
            <p>CSS3</p>
            <p>Express-Handlebars</p>
           

        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Database:</h5>
            <p>MySQL</p>
            <p>MariaDB</p>
            <p>PostgreSQL</p>

        </div>
        <div class="col">
          <h5>Frameworks:</h5>
            <p>Django</p>
            <p>Flask</p>
            <p>ExpressJS</p>
            <p>Bootstrap</p>

        </div>
      </div>


      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="service" class="services-mf pt-5 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Services
              </h3>
              <p class="subtitle-a">
                Working with Mateo:
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-code-working"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Front-End:</h2>
                <p class="s-description text-center">
                  Combine technology and design to create inviting, easy-to-use websites for consumers and clients. 
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-monitor"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Back-End:</h2>
                <p class="s-description text-center">
                  Create components and features on the server-side, indirectly accessed by a user through a front-end application.
                  Including: core application logic, databases, data and application integration, APIs.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-stats-bars"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Database Administrator:</h2>
                <p class="s-description text-center">
                  Storing and organizing data as well as designing and building databases from ERD (Entity-Relationship-Diagram) to database manipulation queries.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->
    
    <!-- ======= Portfolio Section ======= -->
    <section id="work" class="portfolio-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Portfolio
              </h3>
              <p class="subtitle-a">
                Sample projects.
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          

           <div class="col-md-4">
            <div class="work-box">
              <a href="img/booksdb2.jp2" data-gall="portfolioGallery" class="venobox">
                <div class="work-img">
                  <img src="img/booksdb2.jp2" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Database Project</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Database </span> / <span class="w-date">Winter 2021</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="https://thebookborrower.herokuapp.com/"> <span class="ion-ios-plus-outline"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="work-box">
              <a href="img/8puzzle.jp2" data-gall="portfolioGallery" class="venobox">
                <div class="work-img">
                  <img src="img/8puzzle.jp2" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">8-Puzzle Game</h2>
                    <div class="w-more">
                      <span class="w-ctegory">NP-Complete</span> / <span class="w-date">Winter 2021</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="https://github.com/TheodoreAI/puzzle"> <span class="ion-ios-plus-outline"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          

           <div class="col-md-4">
            <div class="work-box">
              <a href="img/epscor2.jp2" data-gall="portfolioGallery" class="venobox">
                <div class="work-img">
                  <img src="img/epscor2.jp2" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">NASA Project</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Front-End</span> / <span class="w-date">Fall 2020</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="https://www.nasa.gov/stem/epscor/home/index.html"> <span class="ion-ios-plus-outline"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>




          <div class="col-md-4">
            <div class="work-box">
              <a href="img/rwkarts.jp2" data-gall="portfolioGallery" class="venobox">
                <div class="work-img">
                  <img src="img/rwkarts.jp2" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">RWKAPP</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Full-Stack</span> / <span class="w-date">Fall 2019</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="https://github.com/TheodoreAI/rwkecommerce"> <span class="ion-ios-plus-outline"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="img/all_in_one.jp2" data-gall="portfolioGallery" class="venobox">
                <div class="work-img">
                  <img src="img/all_in_one.jp2" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">All In One</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Front-End</span> / <span class="w-date">Summer 2020</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="http://www.allinonetattooandbarberstudio.com"> <span class="ion-ios-plus-outline"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="img/bitbrane_logo.jp2" data-gall="portfolioGallery" class="venobox">
                <div class="work-img">
                  <img src="img/bitbrane_logo.jp2" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Bitbrane</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Django</span> / <span class="w-date">Winter 2019</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="https://github.com/TheodoreAI/django_project/tree/master"> <span class="ion-ios-plus-outline"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="img/overlay-bg.jp2" data-gall="portfolioGallery" class="venobox">
                <div class="work-img">
                  <img src="img/overlay-bg.jp2" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">mateoestrada.org</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Front-End</span> / <span class="w-date">Winter 2018</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="http://www.mateoestrada.net"> <span class="ion-ios-plus-outline"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section><!-- End Portfolio Section -->


    <section id="research" class="portfolio-mf sect-pt4 route">
      <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Research Experience:
                    </h3>
                    <div class="col-sm-12">
                <div class="title-box text-center">
                    <h5>Article on GEMM lab:</h5>
                    <div class="line-mf">
                    </div>
                    <a href="https://blogs.oregonstate.edu/gemmlab/2021/09/06/supporting-marine-life-conservation-as-an-outsider-blue-whales-and-earthquakes/">
                    <i>Supporting marine life conservation as an outsider: blue whales and earthquakes</i></a>
                    <br>
                    
                    <iframe class="research-blog" loading= "lazy" src="https://blogs.oregonstate.edu/gemmlab/2021/09/06/supporting-marine-life-conservation-as-an-outsider-blue-whales-and-earthquakes/" >
                    </iframe>
                </div>
               
            </div>
                    <h5>
                        Abstract:
                    </h5>
                    <p class="abstract">
                        The pygmy blue whales local to New Zealand’s South Taranaki Bight region have been studied to understand their habitat and their behaviors. This population of blue whales are present in the area year-round, with an estimated abundance of about 718 (SD = 433) individuals, making them unique and of high research interest. These mammals live in a region that exposes them to frequent noise pollution from shipping, oil rigs, and seismic activity due to the Australian and Pacific Plates. This study investigated whether blue whales respond acoustically to earthquake activity. This investigation revealed that blue whales do not significantly change the number of calls, call energy, call entropy, or call bandwidth following earthquake events. Linear models revealed a significant relationship between change in the number of calls before and after an earthquake and the number of calls in the preceding period, however this same relationship was true for “null” periods where no earthquake was present, indicating the pattern is driven by calling context and independent of earthquake events. Gaining an improved understanding of blue whale response to natural noise events provides context for how to interpret their response to human derived noise sources, for example to anthropogenic noise pollution from shipping, oil rigs, or gas drilling.
                    </p>
                    
                    <h5>Results:</h5>
                    <li>Coming soon.</li>
                    

                <br>
                </div>
            </div>
            </div>
        <div class="row">

        </div>
      </div>
    </section>



    <!-- ======= Contact Section ======= -->
    <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(img/overlay-bg.jp2)">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact-mf">
              <div id="contact" class="box-shadow-full">
                <div class="row">
                  <div class="col-md-6">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Contact me:
                      </h5>
                    </div>
                    <div>
                      

                      <a href="mailto: mateoej12@gmail.com"><button class="btn btn-primary btn js-scroll px-4">Send an Email</button></a><br>


                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="title-box-2 pt-4 pt-md-0">
                      <h5 class="title-left">
                        Connect on:
                      </h5>
                    </div>
                    <div class="more-info">
                      Social Media
                    </div>
                    <div class="socials">
                      <ul>
                        <li><a href="https://www.instagram.com/mateo.estrada7/"><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                        <li><a href="https://www.youtube.com/channel/UCzKablTn4jte9Ku_TndQF3Q?view_as=subscriber"><span class="ico-circle"><i class="ion-social-youtube"></i></span></a></li>
                        <li><a href="https://www.linkedin.com/in/mej1323/"><span class="ico-circle"><i class="ion-social-linkedin"></i></span></a></li>
                        <li><a href="https://github.com/TheodoreAI"><span class="ico-circle"><i class="ion-social-github"></i></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">
            <p class="copyright">&copy; Copyright <strong>Mateo Estrada</strong>. All Rights Reserved</p>
            <div class="credits">
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="vendor/counterup/jquery.counterup.min.js"></script>
  <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="vendor/typed.js/typed.min.js"></script>
  <script src="vendor/venobox/venobox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>
<!--  <script src="js/languages.js"></script>-->

</body>

</html>

<!-- Citations:
From indeed on front-end, back-end, and data processing.
Front-end: https://www.indeed.com/hire/job-description/front-end-developer 
back-end: 
data processing: -->
