<!<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <main id='main'>
        <%- include('partials/intro', {page_name: "Past Projects"}) %>
        <%- include('partials/navbar', {active}) %>
         <!-- ======= Portfolio Section ======= -->
    <section id="work" class="portfolio-mf sect-pt4 route">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  Portfolio
                </h3>
                <p class="subtitle-a">
                  Sample projects.
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <div class="row">
             <div class="col-md-4">
              <div class="work-box">
                <a href="img/booksdb2.jp2" data-gall="portfolioGallery" class="venobox">
                  <div class="work-img">
                    <img src="img/booksdb2.jp2" alt="" class="img-fluid">
                  </div>
                </a>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">Database Project</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Database </span> / <span class="w-date">Winter 2021</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <a href="https://thebookborrower.herokuapp.com/"> <span class="ion-ios-plus-outline"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="work-box">
                <a href="img/8puzzle.jp2" data-gall="portfolioGallery" class="venobox">
                  <div class="work-img">
                    <img src="img/8puzzle.jp2" alt="" class="img-fluid">
                  </div>
                </a>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">8-Puzzle Game</h2>
                      <div class="w-more">
                        <span class="w-ctegory">NP-Complete</span> / <span class="w-date">Winter 2021</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <a href="https://github.com/TheodoreAI/puzzle"> <span class="ion-ios-plus-outline"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
  
            
  
             <div class="col-md-4">
              <div class="work-box">
                <a href="img/epscor2.jp2" data-gall="portfolioGallery" class="venobox">
                  <div class="work-img">
                    <img src="img/epscor2.jp2" alt="" class="img-fluid">
                  </div>
                </a>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">NASA Project</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Front-End</span> / <span class="w-date">Fall 2020</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <a href="https://www.nasa.gov/stem/epscor/home/index.html"> <span class="ion-ios-plus-outline"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
  
  
  
            <div class="col-md-4">
              <div class="work-box">
                <a href="img/rwkarts.jp2" data-gall="portfolioGallery" class="venobox">
                  <div class="work-img">
                    <img src="img/rwkarts.jp2" alt="" class="img-fluid">
                  </div>
                </a>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">RWKAPP</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Full-Stack</span> / <span class="w-date">Fall 2019</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <a href="https://github.com/TheodoreAI/rwkecommerce"> <span class="ion-ios-plus-outline"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="work-box">
                <a href="img/all_in_one.jp2" data-gall="portfolioGallery" class="venobox">
                  <div class="work-img">
                    <img src="img/all_in_one.jp2" alt="" class="img-fluid">
                  </div>
                </a>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">All In One</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Front-End</span> / <span class="w-date">Summer 2020</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <a href="https://www.allinonetattooandbarberstudio.com"> <span class="ion-ios-plus-outline"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="work-box">
                <a href="img/bitbrane_logo.jp2" data-gall="portfolioGallery" class="venobox">
                  <div class="work-img">
                    <img src="img/bitbrane_logo.jp2" alt="" class="img-fluid">
                  </div>
                </a>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">Bitbrane</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Django</span> / <span class="w-date">Winter 2019</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <a href="https://github.com/TheodoreAI/django_project/tree/master"> <span class="ion-ios-plus-outline"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="work-box">
                <a href="img/overlay-bg.jp2" data-gall="portfolioGallery" class="venobox">
                  <div class="work-img">
                    <img src="img/overlay-bg.jp2" alt="" class="img-fluid">
                  </div>
                </a>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title">mateoestrada.org</h2>
                      <div class="w-more">
                        <span class="w-ctegory">Front-End</span> / <span class="w-date">Winter 2018</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <a href="http://www.mateoestrada.org"> <span class="ion-ios-plus-outline"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </section><!-- End Portfolio Section -->
        <%-include('partials/footer') %>
    </main>
    <script src="js/main.js"></script>
   
</html>