<!<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <main id='main'>
        <%- include('partials/intro', {page_name: "Research"}) %>
        <%- include('partials/navbar', {active}) %>
        
        <!-- ======= Research Section ======= -->
    <section id="research" class="portfolio-mf sect-pt4 route">
        <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="title-box text-center">
                      <h3 class="title-a">
                          Research Experience: 
                      </h3>
                      <div class="col-sm-12">
                  <div class="title-box text-center">
                      <h5>Article on GEMM lab:</h5>
                      <div class="line-mf">
                      </div>
                      <a href="https://blogs.oregonstate.edu/gemmlab/2021/09/06/supporting-marine-life-conservation-as-an-outsider-blue-whales-and-earthquakes/">
                      <i>Supporting marine life conservation as an outsider: blue whales and earthquakes</i></a>
                      <br>
                      <div class="embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item" loading= "lazy" src="https://blogs.oregonstate.edu/gemmlab/2021/09/06/supporting-marine-life-conservation-as-an-outsider-blue-whales-and-earthquakes/" >
                        </iframe>
                      </div>
                      
                  </div>
                 
              </div>
                      <h5>
                          Abstract:
                      </h5>
                      <p class="abstract">
                          The pygmy blue whales local to New Zealand’s South Taranaki Bight region have been studied to understand their habitat and their behaviors. This population of blue whales are present in the area year-round, with an estimated abundance of about 718 (SD = 433) individuals, making them unique and of high research interest. These mammals live in a region that exposes them to frequent noise pollution from shipping, oil rigs, and seismic activity due to the Australian and Pacific Plates. This study investigated whether blue whales respond acoustically to earthquake activity. This investigation revealed that blue whales do not significantly change the number of calls, call energy, call entropy, or call bandwidth following earthquake events. Linear models revealed a significant relationship between change in the number of calls before and after an earthquake and the number of calls in the preceding period, however this same relationship was true for “null” periods where no earthquake was present, indicating the pattern is driven by calling context and independent of earthquake events. Gaining an improved understanding of blue whale response to natural noise events provides context for how to interpret their response to human derived noise sources, for example to anthropogenic noise pollution from shipping, oil rigs, or gas drilling.
                      </p>
                      
                      <h5>Results:</h5>
                      <li>Coming soon.</li>
                      
  
                  <br>
                  </div>
              </div>
              </div>
          <div class="row">
  
          </div>
        </div>
      </section>
      
        <%-include('partials/footer') %>
        
 
    </main>
    <script src="js/main.js"></script>
   
</html>